@import "../../assets/sass/_variables";
@import "~handy.sass.mixins/scss/shared.scss";


.cities-form-card{
    & >.row{
        position: relative;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
  


    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;

    margin: 24px auto;
    padding: 20px 10px;

    @include prefixer(box-shadow,0 1/8rem 1/8rem 0 #aaa,($prefix-list));
    
    .form-group{
        display: flex;
        align-items: center;
        width:100%;
        label{
            color:$text-color;
            width:25%;
            
        }
        .form-control{
            width:75%;
        }
    }

}