@import "../../assets/sass/_variables";
@import "~handy.sass.mixins/scss/shared.scss";


.header{
    padding:15px 0px;
    background-color:#fff;
    @include prefixer(box-shadow,0 0.25rem 0.125rem 0 rgba(#000,0.05),($prefix-list));
    .header-logo{
        display: flex;
        align-items:center;
        justify-content: center;
        
       .header-icon{
        font-size: 24px;
        color: #fff;
        background-color: $main-color;
        padding: 10px 11px 10px 9px;
        border-radius: 4px;
        text-shadow: 2px 2px 0 $secondary-color;
        @include prefixer(transition,all 0.3s ease-in-out,($prefix-list));
        
        &:hover{
            @include prefixer(transform,scale(1.1),($prefix-list));
        }
       }
       .header-title{
           margin-left:15px;
           color:$text-color;
           font-weight: 500;
           font-size:19px;
       }
    }
}
