@import "../../../assets/sass/_variables";
@import "~handy.sass.mixins/scss/shared.scss";



.city-card{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 90%;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 24px auto;
    @include prefixer(box-shadow,0 1/8rem 1/8rem 0 #aaa,($prefix-list));
    @include prefixer(transition,all 0.3s ease-in-out,($prefix-list));

    &:hover{
        @include prefixer(transform,scale(1.1),($prefix-list));
       
    }
    &:hover  .icon-remove{
        opacity: 0.5;
    }
    .city-image-container{
        padding: 10px 25px;
        height: 200px;
        position: relative;
        img{
            position: absolute;
            width:200px;
            top: -50px;
            height: 200px;
            left: calc(50% - 200px/2);
            z-index: 2;
        }
        .icon-city{
            position: absolute;
            font-size: 80px;
            bottom: 20px;
            left: calc(50% - 42px);
            color:$orange-color;
        }
    }
    .city-info-container{
        border:1px solid #eee;
        padding: 10px 25px;

        .city-name{
            color:#000;
            font-size:15px;
            text-align:center;
        }
        .city-info{
            display: flex;
            justify-content: space-between;
            color:$text-color-light;
            align-items: center;
            .temprature{
                position: relative;
                .value{
                    font-size:25px;
                }
                .unit{
                    position: absolute;
                    color:$text-color-light;
                    font-size:14px;
                    top: 0px;
                    font-weight: 600;
                }
            }
            .status{
                font-weight: 600;
            }
        }
      
    }
}