@import "../../../assets/sass/_variables";
@import "~handy.sass.mixins/scss/shared.scss";


.remove-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
  
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  
    /* Style */
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 2;
  
    .icon-remove {
      font-size: 24px;
      color: $red-color;
      opacity: 0;
      
      @include prefixer(transition,all 0.3s ease-in-out,($prefix-list));
    }
  
    &:hover .icon-remove {
      opacity: 1;
    }
  }