$main-color:#15aabf;
$secondary-color:#0b5863;
$orange-color:#ffa500;
$red-color:#e53935;
$body-color:#f8f9fa;
$text-color:#333;
$text-color-light:#597ea2;
$prefix-list: "webkit",
"moz",
"ms",
"o",
"";